
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=099a05321e7bab93a8abcfe693381d54
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup